{include file="./public/public/basic_chang.html"/}
<div class="col-md-12 border">
    <form action="{:url('basic_add')}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{if condition='(!empty($reply))'}{$reply.id}{/if}">
    <div class="col-md-12 rep_shai">
        <label>添加回复规则</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="gray">删除，修改规则、关键字以及回复后，请提交以保存操作！</span>
    </div>
    <div class="col-md-12 ans_mes">
        <label class="col-md-2">回复规则名称</label>
        <div class="col-md-6">
            <input type="text" class="li_H radius" placeholder="请输入回复规则的名称" name="title" value="{if condition='(!empty($reply))'}{$reply.title}{/if}">
            <span class="gray">您可以给这条规则起一个名字，方便下次修改和查看。</span><br>
            <!--<span class="red">选择高级设置：将会提供一系列的高级选项供专业用户使用。</span>-->
        </div>
        <div class="col-md-4 shezhi">
            <!--<input type="checkbox" class="advanced" name="class" {if condition='(!empty($reply))'}{if condition='($reply.class==1)'}checked {/if}{/if}>&nbsp;&nbsp;高级设置-->
        </div>
    </div>
    <div class="col-md-12 ans_mes zhuangtai">
        <label class="col-md-2 chang_hide">状态</label>
        <div class="col-md-10 chang_hide">
            <input type="radio" name="type" value="1" {if condition='(!empty($reply))'}{if condition='($reply.type==1)'}checked{/if}{else}checked{/if}>&nbsp;&nbsp;启用
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="type" value="2" {if condition='(!empty($reply))'}{if condition='($reply.type==2)'}checked{/if}{/if}>&nbsp;&nbsp;禁用
        </div>
        <!--<label class="col-md-2 chang_hide">置顶回复</label>-->
        <!--<div class="col-md-10 chang_hide">-->
            <!--<input type="radio" name="radio" >&nbsp;&nbsp;置顶-->
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<input type="radio" name="radio" checked>&nbsp;&nbsp;普通-->
        <!--</div>-->
        <!--<label class="col-md-2 chang_hide">排序</label>-->
        <!--<div class="col-md-10 chang_hide">-->
            <!--<input type="text" class="li_H radius" placeholder="请输入这条回复的优先级" name="grade" value="">-->
            <!--<span class="gray">规则优先级，越大则越靠前，最大不得超过254</span><br>-->
        <!--</div>-->
        <label class="col-md-2">触发关键字</label>
        <div class="col-md-6">
            <input type="text" class="li_H radius" name="keywords" placeholder="请输入触发关键字" value="{if condition='(!empty($reply))'}{$reply.keywords}{/if}">
            <span class="gray">当用户的对话内容符合以上的关键字定义时，会触发这个回复定义。添加重复关键字，系统将随机回复其中一条！</span>
        </div>
    </div>
    <!---->
    <div class="col-md-12">
        <label>回复内容</label>
    </div>
    <div class="col-md-12 ans_mes huifu ">
        <!--<input type="text" class="li_H" value="回复内容回复内容回复内容回复内容回复内容回复内容">-->
        <!--<div>-->
            <!--<a href="javascript:;" class="bg_color radius">保存</a>-->
            <!--<a href="javascript:;" class="red radius">取消</a>-->
        <!--</div>-->
        {if condition='(!empty($count))'}
        {volist name="count" id="vo" key='key'}
        <div id="huifu_{$key}">
            <textarea class="li_H radius cun_huifus_{$key}" placeholder="添加要回复的内容" name="count[]">{$vo.count}</textarea>
            <div class="anniu anniu_{$key}">
                <!--<a href="javascript:;" class="bg_color radius" name="" onclick="xiu_huifu(1)">修改</a>-->
                <!--<a href="javascript:;" class="bg_color radius" name="" onclick="cun_huifu(1)">保存</a>-->
                <a href="javascript:;" class="red radius" name="" onclick="del_huifu({$key})">删除</a>
            </div>
        </div>
        {/volist}
        {else}
        <div id="huifu_1">
            <textarea class="li_H radius cun_huifus_1" placeholder="添加要回复的内容" name="count[]"></textarea>
            <div class="anniu anniu_1">
                <!--<a href="javascript:;" class="bg_color radius" name="" onclick="xiu_huifu(1)">修改</a>-->
                <!--<a href="javascript:;" class="bg_color radius" name="" onclick="cun_huifu(1)">保存</a>-->
                <a href="javascript:;" class="red radius" name="" onclick="del_huifu(1)">删除</a>
            </div>
        </div>
        {/if}
        <a href="javascript:;" class="bg_color radius add_huifu" onclick="add()">添加回复条目</a>
        &nbsp;&nbsp;
        <span class="gray">添加多条回复内容时, 随机回复其中一条</span>
    </div>
        <div class="col-md-12">
    <input type="submit" class="bg white tijiao radius" value="提交" name="">
            <br><br>
            </div>

    </from>
</div>
</div>
</div>
</div>
<!---->
</div>
</div>
</body>
<script src="_JS_/bootstrap.min.js"></script>
<script>
    $(function(){
        $('.chang_hide').show();
    })
//    $('.advanced').bind('click',function(){
//        if ($(this).is(":checked")) {
//            $('.chang_hide').show();
//            $(this).attr("checked", true);
//        }else{
//            $('.chang_hide').hide();
//            $(this).attr("checked", false);
//        }
//    });
    {if condition='(!empty($reply))'}
    $(function(){
        var class_type = '{$reply.class}';
        if(class_type==1){
            $('.chang_hide').show();
        }
    })
    {/if}
    var i=1;
    function add(){
        var array = [];
        var arr = '';
        console.log('{$num}');
        $("[id^=huifu_]").each(function() {
            var arr = $("[id^=huifu_]").map(function() { return $(this).attr('id').substring(6) }).get();
            var arring = Math.max.apply(null, arr); //最大值
            i = parseInt(arring) + 1;
        });
        console.log(i);
        var str='<textarea class="li_H radius cun_huifus_'+i+'" placeholder="添加要回复的内容" name="count[]"></textarea><div class="anniu anniu_'+i+'"> <a href="javascript:;" class="red radius" name="" onclick="del_huifu('+i+')">删除</a> </div>';
        var res='<div id="huifu_'+i+'">'+str+'</div>';
        $('.add_huifu').before(res);
    }
//    function cun_huifu(id){
//        var str=$('.cun_huifus_'+id).val();
//        $('.cun_huifus_'+id).hide();
//        $('.cun_huifu_'+id).html(str);
//        $('.cun_huifu_'+id).show();
//        $('.anniu_'+id).children().eq(0).show();
//        $('.anniu_'+id).children().eq(1).hide();
//        $('.cun_huifuing_'+id).val(str)
////        $('.huifu>div>div>a:nth-child(1)').show();
////        $('.huifu>div>div>a:nth-child(2)').hide();
//    }
//    function xiu_huifu(id){
//        $('.cun_huifus_'+id).show();
//        $('.cun_huifu_'+id).hide();
//        $('.anniu_'+id).children().eq(0).hide();
//        $('.anniu_'+id).children().eq(1).show();
//    }
    function del_huifu(id){
        console.log($("[id^=huifu_]").length);
//        if($("[id^=huifu_]").length>1){
            $('#huifu_'+id).remove();
//        }
    }
</script>
</html>