<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点添加</title>
    <script type="text/javascript" src="/public/static/js/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="/public/static/js/jquery.js"></script>-->
</head>
<body>
<form action='{:url('insert',array('create_type'=>$create_type,'add_type'=>$add_type))}' method="post">
    投票标题: <input type="text" name="title">
    <br>投票描述：<input type="text" name="con">
    <br>截止时间: <input type="text" name="end_time">
    <br>投票类型: <input type="radio" name="type" value="1" checked="checked">单选 <input type="radio" name="type">多选
    <br>选项内容:
    <br> <input type="text" id="scenic_1" name="opt[1][option]" readonly> <input type="button" class="opt" onclick="ch_scenic(1)" value="选择景点">
    <br> <input type="text" id="scenic_2" name="opt[2][option]" readonly> <input type="button" class="opt" onclick="ch_scenic(2)" value="选择景点">
    <br><input type="button" class="add" value="添加选项">
    <!--<input type="text" name="scenic" placeholder="景点关键词"><input type="submit">-->
    <br>好友回答: <input type="radio" name="gongkai" value="0">匿名 <input type="radio" name="gongkai" value="1" checked="checked"> 公开
    {if($create_type=='4')}
    <br>征集投票内容: <input type="radio" name="state" value="2" >是 <input  type="radio" name="state" value="1" checked="checked">否 <span class="fou"></span>

    <br><input type="submit" value="提交"> <input type="reset" value="清除">
    {else}
    <input type="hidden" name="state" value="1">
    <br>其他<input type="checkbox" name="other" class="other" value="1">
    <br><input type="submit" value="发布"> <input type="reset" value="清除">
    {/if}
</form>
<div id="scenic_search" style="display: none">
    <input type="text" id="key" name="keyword" placeholder="景点关键字搜索"> <input type="submit" onclick="scenic_search()" class="scenic_search" value="搜索">
    <div id="list">
    </div>


</div>
<div id="list_con">

</div>
</body>

<script>
	$('input:radio[name="state"]').click(function(){
		var val = $(this).val();
		if(val=='2'){
			var str ='<span class="state_num"><br>每个人选项个数: <input type="text" name="state_num" ></span>';
			$('.fou').after(str);
		}else{
			$('.state_num').remove();
		}
	})


    //添加选项
	$('.add').click(function(){
			var num = $('.opt').size();
			var num = num+1;
            var add_type = '{$add_type}';
			if(add_type=='1'){
				var str = '<br><input type="text" class="opt" name="opt[]" placeholder="选项'+num+'">';
			}else if(add_type=='4'){
				var str = '<br><input type="file" class="opt" name="opt[]" placeholder="选项'+num+'">';
			}else if(add_type=='3'){
				var number = num+1;
				var str = '<br> <input type="text" id="scenic_'+number+'" name="opt['+num+'][option]" readonly> <input type="button" class="opt" onclick="ch_scenic('+number+')" value="选择景点">';
			}
			$('.opt:last').after(str);
		}
	)
    //选择景点
    function ch_scenic(num){
		$('#key').val('');
		$('#list_child').empty();
		$('.scenic_search').attr('onclick','scenic_search('+num+')');
		$('#scenic_search').show();
    }

    //景点后边的选择
	function ch(id,num){
    	if($('#span_'+num).size()>0){
			$('#span_'+num).remove();
        }
       var name = $('#'+id+'').text();
       var keyword = $('#key').val();
       $('#scenic_'+num).attr('value',name);
       var str = '<span id="span_'+num+'"><input type="hidden" name="opt['+num+'][id]" value="'+id+'"><input type="hidden" name="opt['+num+'][keyword]" value="'+keyword+'"></span>'
       $('#scenic_'+num).after(str);
       $('#scenic_search').hide();
	}
    //关键词搜索景点
	function scenic_search(num){
		if($('#list_child').size()>0){
			$('#list_child').remove();
		}
		if($('#con').size()>0){
			$('#con').remove();
		}
        var keyword = $('#key').val();

        var url = "{:url('scenic_search_ajax')}";
		$.ajax({
			cache: true,
			type: "POST",
			url: url,
			data:{'keyword':keyword},
			async: false,
			success: function(data) {
				if(data=='11'){
					var str = '未搜索到内容,请您换个关键词';
                }else{
					var str = '<div id="list_child">';
					var url1 = "{:url('scenic_con',array('id'=>'i_d','keyword'=>'k_y'))}";
					var url2 = url1.replace('k_y',keyword);
					$.each(data,function(i,item){
						var url3 = url2.replace('i_d',item['id']);
						str += '<p><a id="'+item['id']+'" href="javascript:;" onclick="scenic_con('+item['id']+')">'+item['name']+'</a> 城市:'+item['cityName']+'<button onclick="ch('+item['id']+','+num+')">选择</button></p>';
					})
					str += '</div>';
                }
				$('#list').append(str);
			}
		})
    }

    //点击景点进入详情查看页
    function scenic_con(id){
		if($('#con').size()>0){
			$('#con').remove();
        }
		var keyword = $('#key').val();
		var url = "{:url('scenic_con_ajax',array('id'=>'i_d','keyword'=>'k_w'))}";
		var url = url.replace('i_d',id);
		var url = url.replace('k_w',keyword);
		$.ajax({
			cache: true,
			type: "POST",
			url: url,
			data:{'keyword':keyword},
			async: false,
			success: function(data) {
                console.log(data);
                var str = '<div id="con">';
                str += '<h3>景点:'+data['name']+'</h3>';
                if(data['star'] && data['star']!=''){ str += '<p>'+data['star']+'级景区</p>';}
                if(data['summary'] && data['summary']!=''){	str += '<p>景点简介:'+data['summary']+'</p>';  }
				if(data['content'] && data['content']!=''){	str += '<p>景点介绍:'+data['content']+'</p>';  }
				if(data['address'] && data['address']!=''){	str += '<p>景点地址:'+data['address']+'</p>'; }
				else{ str += '<p>景点地址:'+data['proName']+'<p>详细地址未收录,请自行查找</p></p>';  }
				if(data['opentime'] && data['opentime']!=''){	str += '<p>开放时间:'+data['opentime']+'</p>';	}
				if(data['coupon'] && data['coupon']!=''){ 	str += '<p>票劵相关:'+data['coupon']+'</p>';}
				if(data['attention'] && data['attention']!=''){ str += '<p>注意事项:'+data['attention']+'</p>'; }
				if(data['priceList'].length<1){
					str += '<p> 票劵信息:暂无</p>';
                }else{
					$.each(data['priceList'],function(i,item){
						str += '<p>'+item['type']+'</p>';
						var len = item['entityList'].length;
						if(len>1){
							$.each(item['entityList'],function(k,v){
								str += '<p>'+v['TicketName']+' 价格:'+v['Amount']+'</p>';
                            })
						}else{
							str += '<p>'+item['entityList'][0]['TicketName']+' 价格:'+item['entityList'][0]['Amount']+'</p>';
                        }
					})
                }
                str += '<p>景点图片:</p>'
				if(data['picList'].length>1){
					$.each(data['picList'],function(i,item){
						str += '<br><img width="90%" src="'+item['picUrl']+'" alt="">';
					})
                }else if(data['picList'].length=1){
					str += '<br><img width="90%" src="'+data['picList'][0]['picUrl']+'" alt="">';
				}else{
					str += '暂无';
                }
				str += '<input type="button" onclick="guan()" id="guan" value="关闭"></div>';
				$('#list_con').append(str);
			}
		})
    }
	function guan(){
		$('#con').remove();
	}

</script>
</html>