
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>标题名称</title>
    <!--<link rel="stylesheet" type="text/css" href="_CSS_/users.css">-->
    <link rel="stylesheet" type="text/css" href="_CSS_/mui.min.css">
    <script src="_JS_/iconfont.js"></script>
    <style>
        body,.mui-content{
            background:white;
        }
        .wz{
            width:94%;
            margin:0 3%;
        }
        .wx_name{
            margin:30px 0 10px 0;
        }
        .rights{
            text-align:right;
        }
        .centers{
            text-align: center;
        }
        .size_12{
            font-size:12px;
        }
        .icon{
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        .wz_wz_mes{
            margin:10px 0;
        }
        .wz_saw{
            margin-top:30px;
        }
        .wz_neirong img{
            width:100% !important;
        }
    </style>
    <script src="_JS_/mui.min.js"></script>
</head>
<body>
<div class="mui-scroll-wrapper">
    <div class="mui-scroll wz">
        <h2 class="wx_name">标题名称</h2>
        <div class="wz_wz_mes">
            <span>2017-12-28</span>
            <span>公众号名称</span>
            <span>作者</span>
        </div>
        <div class="wz_neirong">
                    <p>
                        <br>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/05/Zp3P0m0y4t0d4O0q3qdOo4YPptfgF3.gif" alt="images/14/2017/05/Zp3P0m0y4t0d4O0q3qdOo4YPptfgF3.gif" style="width:314px;height:176px;" width="314" height="176">
                    </p>
                    <p>
                        <br>
                    </p>
                    <p style="text-align:center;">
                        <span style="color:#FFFFFF;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:24px;font-weight:800;line-height:25.6px;background-color:#000000;">『鼎足足道』</span>
                    </p>
                    <p style="text-align:center;">
                        <br>
                    </p>
                    <div>
                        <blockquote style="color:#A0A0A2;font-weight:bold;text-align:center;background-color:#212122;" class="bc">
                            <span style="font-size:20px;"><strong><span style="color:#FFFFFF;">福利奉上</span></strong></span>
                        </blockquote>
                        <blockquote class="bdc">
                            <p style="color:inherit;text-align:center;">
                                <strong><span style="color:inherit;">活动一</span></strong>
                            </p>
                            <p style="text-align:center;">
                                <span style="font-size:14px;">开背套餐：</span>
                            </p>
                            <p style="text-align:center;">
                                <strong><span style="font-size:14px;">精油开背+刮痧/拔罐2选1，原价126元；</span></strong><span style="font-size:14px;color:#FF0000;"><strong>优惠价99元</strong></span>
                            </p>
                            <p style="color:inherit;text-align:center;">
                                <span style="font-size:14px;">套餐时间为60分钟</span>
                            </p>
                            <p style="color:inherit;text-align:center;">
                                <strong>活动二</strong>
                            </p>
                            <p style="text-align:center;">
                                <span style="font-size:14px;">足浴套餐：</span>
                            </p>
                            <p style="text-align:center;">
                                <strong><span style="font-size:14px;">采耳+足疗+肩背按摩，原价128元；</span></strong><span style="font-size:14px;color:#FF0000;"><strong>优惠价99元</strong></span>
                            </p>
                            <p style="color:inherit;text-align:center;">
                                <span style="font-size:14px;">套餐时间为80分钟</span><strong><br>
                            </strong>
                            </p>
                            <p style="color:inherit;text-align:center;">
                                <strong>活动三</strong>
                            </p>
                            <p style="text-align:center;">
                                <span style="font-size:14px;">足病康复：</span>
                            </p>
                            <p style="text-align:center;">
                                <strong><span style="font-size:14px;">灰指甲检测+沐足杀菌+电磁波护理+30分钟无痛祛病甲，原价158元；</span></strong><span style="font-size:14px;color:#FF0000;"><strong>优惠价58元</strong></span>
                            </p>
                            <p style="color:inherit;">
			<span style="font-size:14px;"><br>
</span>
                            </p>
                            <p style="color:inherit;">
                                <span style="font-size:14px;">地址：步行街百官街道凤山路58号（步行街店）；恒利菜场百官街道五洲路115号（恒利店）</span>
                            </p>
                            <p style="color:inherit;">
                                <span style="font-size:14px;">电话：0575-80272978（步行街店）；0575-80272977（恒利店）</span>
                            </p>
                            <p style="color:inherit;">
                                <span style="font-size:14px;">活动时间：7月14日-9月14日</span>
                            </p>
                        </blockquote>
                        <p>
                            <br>
                        </p>
                    </div>
                    <p>
                        <strong><span style="color:#595959;">古人云：<span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">春天洗脚</span></span><span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;color:#595959;background-color:#FFFFFF;">，升阳固脱；夏天洗脚，暑湿可祛；秋天洗脚，肺润肠濡；冬天洗脚，丹田温灼。</span></strong>
                    </p>
                    <p>
                        <span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;color:#595959;background-color:#FFFFFF;">晨起皮包水，睡前水包皮，健康又长寿，百岁不称奇。</span>
                    </p>
                    <p style="text-indent:0px;">
                        <span style="color:#595959;font-size:14px;background-color:#FFFFFF;">苏东坡</span><span style="color:#595959;"><span style="background-color:#FFFFFF;"></span><span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">曰：“热浴足法，其效初不甚觉，但积累百余日，功用不可量，比之服药，其效百倍”又在诗中写道“它人劝我洗足眠，倒床不复闻钟鼓”。</span></span>
                    </p>
                    <p>
                        <span style="color:#595959;">而在今天，有句流行的俗语：<span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">富人吃药，穷人洗脚。足浴保健在今天蔚然成风~而在我们大上虞，足浴店也是数不胜数，今天推荐的这家鼎足足浴，已经在上虞开出了两家店！<strong>精湛的技艺，高品质的服务，让很多顾客一直固定在他们家足浴保健~</strong></span></span>
                    </p>
                    <p>
	<span style="color:#333333;font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;"><br>
</span>
                    </p>
                    <p>
                        <span style="color:#333333;font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;"></span>
                    </p>
                    <div>
                        <p style="text-align:center;color:inherit;">
                            <span style="font-size:36px;color:#000000;"><strong class="tc">鼎足足道</strong></span>
                        </p>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/F0QeyQKQqYQm22YhHjjJ3Jm2z2kEVR.png" alt="images/14/2017/07/F0QeyQKQqYQm22YhHjjJ3Jm2z2kEVR.png" style="width:441px;height:288px;" width="441" height="288">
                    </p>
                    <p style="text-align:center;">
                        <span style="line-height:25px;font-size:12px;color:#595959;">地址：步行街百官街道凤山路58号（步行街店）；恒利菜场百官街道五洲路115号（恒利店）</span>
                    </p>
                    <p>
                        <br>
                    </p>
                    <p style="text-align:center;">
                        <span style="color:#FF0000;"><strong><span style="font-size:14px;">发展至今，鼎足足道已拥有较大规模！</span></strong></span>
                    </p>
                    <p style="text-align:center;">
                        <span style="font-size:14px;color:#595959;"><img src="http://n.fivedu.com/attachment/images/14/2017/07/H8N3lyc7cxrJ8CqJKmzUP8qLMJckrq.png" alt="images/14/2017/07/H8N3lyc7cxrJ8CqJKmzUP8qLMJckrq.png" style="width:435px;height:266px;" width="435" height="266"></span>
                    </p>
                    <p style="text-indent:0px;">
                        <span style="font-size:14px;"><span style="font-family:arial, 宋体, sans-serif;line-height:24px;color:#595959;background-color:#FFFFFF;">清朝外治法祖师在《</span><span style="color:#595959;background-color:#FFFFFF;">理论骈文</span><span style="font-family:arial, 宋体, sans-serif;line-height:24px;color:#595959;background-color:#FFFFFF;">》道“临卧濯足，三阴皆起于足，指寒又从足心入，濯之所以温阴，而却寒也”。</span></span>
                    </p>
                    <p style="text-indent:0px;">
	<span style="font-size:14px;font-family:arial, 宋体, sans-serif;line-height:24px;color:#595959;background-color:#FFFFFF;"><br>
</span>
                    </p>
                    <p>
                        <span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;color:#595959;background-color:#FFFFFF;">唐朝一代美女杨贵妃经常<strong>靠足浴来养颜美容</strong>；宋朝大文豪苏东坡每晚都运用足浴来强身健体；清代名臣曾国藩更是视“读书”、“早起”和“足浴保健”为其人生的三大得意之举；近代京城名医施今墨也是每晚必用花椒水来泡脚养生。可见足浴在中华养生保健历史中占有举足轻重的地位.</span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/IybBE5eHCbx3NTTt3yEneET5bXxBLz.jpg" alt="images/14/2017/07/IybBE5eHCbx3NTTt3yEneET5bXxBLz.jpg" style="width:429px;height:298px;" width="429" height="298">
                    </p>
                    <p>
                        <span style="font-size:14px;color:#595959;font-family:arial, 宋体, sans-serif;line-height:24px;background-color:#FFFFFF;">现代医学研究证明，88%患疾病的人与血液不畅有关，<strong>足部有六十多个穴位和人体相连</strong>，通过对足部的刺激到对全身的机理作用，<strong>增加新陈代谢</strong>，促使对营养物质的吸收，从而改善以上的不足，减少疾病的发生，起到保健的作用。</span>
                    </p>
                    <p>
                        <br>
                    </p>
                    <p>
                        <strong><span style="font-size:14px;color:#FF0000;">鼎足足道结合中草药泡脚</span></strong><span style="color:#595959;font-size:14px;">，让中草药在</span><span style="color:#595959;font-size:14px;font-family:arial, 宋体, sans-serif;line-height:24px;background-color:#FFFFFF;">水的温热作用和机械作用下通过粘膜吸收和皮肤渗透进入到人体血液循环进而输布到人体的全身脏腑达到防病、治病的目的。</span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/VLUg1q9hnVgj3r71h1juj9nu13l1yQ.png" alt="images/14/2017/07/VLUg1q9hnVgj3r71h1juj9nu13l1yQ.png" style="width:432px;height:275px;" width="432" height="275">
                    </p>
                    <p>
                        <span style="color:#595959;"><span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">脚部是人体经络汇聚的地方之一，人体各器官均在脚部有特定的反射区，足部反射按摩疗法是中华医学的宝贵遗产，有着3000多年的传统历史，它通过刺激人体各器官在双足中相对应的穴位</span>，<span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">产生神经反射，激活感应器官的功能，<span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;color:#595959;background-color:#FFFFFF;"><strong><span style="font-family:arial, 宋体, sans-serif;font-size:14px;line-height:24px;background-color:#FFFFFF;">增强血液循环、调节内分泌失调、平衡血压。</span></strong></span></span></span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/HyYdZaFZfnXooOAc3XsaOUK7f5Uon6.png" alt="images/14/2017/07/HyYdZaFZfnXooOAc3XsaOUK7f5Uon6.png" style="width:434px;height:282px;" width="434" height="282">
                    </p>
                    <p>
                        <strong><span style="font-size:14px;color:#FF0000;">鼎足不仅在基础养生保健足浴上提供专业的按摩技法，同时也能通过科学的方法使足病康复</span><span style="color:#595959;font-size:14px;line-height:1.5em;">。</span></strong><span style="color:#595959;font-size:14px;line-height:1.5em;">灰指甲检测，脚气，甲沟炎等给人造成困扰的各种足病，都能在这里找到方法去除！</span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/qoJFBBTJbOrv8RUkBWvdR4ro7j8iOR.png" alt="images/14/2017/07/qoJFBBTJbOrv8RUkBWvdR4ro7j8iOR.png" style="width:433px;height:307px;" width="433" height="307">
                    </p>
                    <p>
                        <span style="color:#FF0000;"><strong><span style="font-size:14px;line-height:1.5em;">精油开背</span></strong></span><span style="color:#595959;font-size:14px;line-height:1.5em;">，让劳碌一天的你松筋开背。活络精油配合独特的按摩手法，可以<strong>舒缓精神压力，消除疲劳，改善睡眠！</strong></span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/AnkSA99mp6p9Ztti6pNItx8N9sTnTW.png" alt="images/14/2017/07/AnkSA99mp6p9Ztti6pNItx8N9sTnTW.png" style="width:429px;height:284px;" width="429" height="284">
                    </p>
                    <p>
                        <span style="color:#595959;font-size:14px;">随着三伏天的进入，每天都是高温酷暑，使人容易出现中暑，整个人疲乏无力。而<span style="font-size:14px;color:#FF0000;"><strong>拔火罐</strong></span>的传统疗法，可以<strong>通经活络、行气活血、消肿止痛、祛风散寒</strong>等。</span>
                    </p>
                    <p>
                        <br>
                    </p>
                    <p>
                        <span style="color:#595959;font-size:14px;">鼎足通过传统的足浴，按摩手法，达到养生保健的效果，使人筋骨舒爽，全身轻松！</span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/mkzyjUHkcmaycmJa547zh7zKeHcHEm.png" alt="images/14/2017/07/mkzyjUHkcmaycmJa547zh7zKeHcHEm.png" style="width:428px;height:274px;" width="428" height="274">
                    </p>
                    <p>
                        <span style="color:#595959;font-size:14px;">整洁优雅的环境，力求给顾客最自在舒适的感受！</span>
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/Ef5xxI1FF56CGCHcoFghVGig2h9CCH.png" alt="images/14/2017/07/Ef5xxI1FF56CGCHcoFghVGig2h9CCH.png" style="width:433px;height:279px;" width="433" height="279">
                    </p>
                    <p>
                        <span style="color:#595959;font-size:14px;">高品质的服务，让人全身放松，尽情享受那一段舒爽的时光</span>！
                    </p>
                    <p style="text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/j4GPgIHqp1pp678722mPG1Gi8Ihs89.png" alt="images/14/2017/07/j4GPgIHqp1pp678722mPG1Gi8Ihs89.png" style="width:431px;height:278px;" width="431" height="278">
                    </p>
                    <p style="text-align:center;">
                        <span style="font-size:16px;"><strong><span style="color:#595959;">来鼎足足道，给你一身轻松，让你一天好心情！</span></strong></span>
                    </p>
                    <p>
                        <br>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:28px;">赚积分方式：</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:28px;">1.签到（在虞说福利社或是虞说味道进行签到都可以）</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:28px;">2.分享图文：</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:25px;">①将此篇图文分享至朋友圈，每有一个用户点击观看即可为您获得3点积分</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:25px;">②此篇图文最多分享点击次数为20人次</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:25px;">③此篇图文每日首次分享朋友圈奖励6点积分</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:25px;">④此篇图文设有积分池，当积分池积分被领光时，活动结束</span></strong>
                    </p>
                    <p style="font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                        <strong><span style="color:#777777;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;line-height:25px;">⑤活动规则解释权归迅卓科技所有。</span></strong>
                    </p>
                    <div style="font-size:medium;font-family:微软雅黑;color:#3E3E3E;margin:0px;padding:0px;">
	<span style="color:#000000;">虞说·福利社<br>
<span class="tc" style="font-size:10px;line-height:12px;">fuli·shop</span></span>
                        <div style="margin:0px;padding:0px;">
                            <p style="font-size:12px;color:inherit;">
                                <strong><span style="font-size:16px;"></span></strong>
                            </p>
                            <p style="font-size:12px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <strong><span style="font-size:16px;"><br>
</span></strong>
                            </p>
                            <p style="font-size:12px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <span style="font-size:18px;"><strong><span>活动一</span></strong></span>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <span style="font-size:14px;"></span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:20px;"><strong>微信支付到店分享随机立减</strong></span>
                            </p>
                            <p style="font-size:21.76px;">
			<span style="font-size:20px;"><br>
</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="color:#C00000;font-size:14px;">步骤一：在合作门店消费并使用微信支付。</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:20px;"><img src="http://n.fivedu.com/attachment/images/14/2017/05/KcL47nLcPUPsu7coLScvIsIsXoIOCL.png" alt="images/14/2017/05/KcL47nLcPUPsu7coLScvIsIsXoIOCL.png" style="width:174px;height:212px;" width="174" height="212"></span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="color:#000000;font-size:14px;">（扫描迅卓科技提供的支付台卡才可参与活动）</span>
                            </p>
                            <p style="font-size:21.76px;">
			<span style="color:#000000;font-size:14px;"><br>
</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="color:#C00000;font-size:14px;background-color:#FFFFFF;">步骤二：点击右侧分享按钮，并分享至朋友圈。</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <img src="http://n.fivedu.com/attachment/images/14/2017/05/VfVvYYmMIsM5kswDkHHWNWfkPZKQQh.png" alt="images/14/2017/05/VfVvYYmMIsM5kswDkHHWNWfkPZKQQh.png" style="width:1px;height:1px;" width="1" height="1">
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <img src="http://n.fivedu.com/attachment/images/14/2017/05/VfVvYYmMIsM5kswDkHHWNWfkPZKQQh.png" alt="积分商城-02.png" style="width:202px;height:302px;" width="202" height="302">
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="color:#C00000;font-size:14px;background-color:#FFFFFF;">步骤三：领取红包并完成支付，红包直接抵现。</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <img src="http://n.fivedu.com/attachment/images/14/2017/05/f7e8b8X0FANs8TL1187Ks7X03G3NA3.png" alt="images/14/2017/05/f7e8b8X0FANs8TL1187Ks7X03G3NA3.png" style="width:227px;height:428px;" width="227" height="428">
                            </p>
                            <p style="font-size:12px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <br>
                            </p>
                            <p style="font-size:12px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <span style="font-size:18px;"><strong><span>活动二</span></strong></span>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;background-color:#FFFFFF;">
                                <span style="font-size:14px;"></span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:20px;"><strong>跨店活动联盟商家</strong></span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:14px;background-color:#FFFFFF;">微信支付随付随省</span>
                            </p>
                            <p style="font-size:21.76px;">
			<span style="font-size:14px;background-color:#FFFFFF;"><br>
</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:14px;"><img src="http://n.fivedu.com/attachment/images/14/2017/05/tLdrfLk5DHH5Y5cHefLYr5Wc557cWd.png" alt="images/14/2017/05/tLdrfLk5DHH5Y5cHefLYr5Wc557cWd.png" style="width:370px;height:197px;" width="370" height="197"></span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:14px;">到有<strong>海报的店</strong>铺微信支付</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <span style="font-size:14px;">都会领取到联盟商家的优惠券</span>
                            </p>
                            <p style="font-size:21.76px;text-align:center;">
                                <br>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;">
                                <span style="color:#FF0000;font-size:14px;">点击下方店铺链接</span>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;">
                                <span style="color:#FF0000;font-size:14px;">即可跳转至</span>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;">
                                <span style="color:#FF0000;font-size:14px;">其他店铺及活动介绍</span>
                            </p>
                            <p style="font-size:21.76px;color:inherit;">
			<span style="font-size:12px;color:#FF0000;"><br>
</span>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=23" target="_self"><span style="text-decoration:none;font-size:12px;color:#0070C0;">一城一味 | 亦思星角</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=22" target="_self"><span style="color:#0070C0;font-size:12px;">一城一味 | Bonny小屋</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=19" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;">一城一味 | 越前外带寿司</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=18" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;">一城一味 | 欧风麦田</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=29" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;">一城一味 | 嵊州小吃</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=16" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;">一城一味 | 鸡排公社</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=15" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 捞仔</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=14" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 拾光甜品</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=13" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 卜菲力牛排杯</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=12" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 古茗</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=27" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 禧然贡茶</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=10" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 黑泷堂</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=9" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | MISS披萨</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=8" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 龙门花甲</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=6" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 乌间道黑龙茶</span></a>
                            </p>
                            <p style="color:inherit;font-size:21.76px;text-align:center;">
                                <a href="http://n.fivedu.com/app/index.php?i=14&amp;c=entry&amp;m=emall&amp;do=mobile&amp;r=article&amp;aid=5" target="_self"><span style="text-decoration:none;color:#0070C0;font-size:12px;background-color:#FFFFFF;">一城一味 | 馄饨乡</span></a>
                            </p>
                            <p style="font-size:21.76px;color:inherit;text-align:center;">
                                <br>
                            </p>
                        </div>
                    </div>
                    <p style="font-family:微软雅黑;font-size:21.76px;color:#3E3E3E;text-align:center;background-color:#FFFFFF;">
	<span style="font-size:16px;"><br>
</span>
                    </p>
                    <p style="font-family:微软雅黑;font-size:21.76px;color:#3E3E3E;text-align:center;background-color:#FFFFFF;">
                        <span style="font-size:16px;"></span>
                    </p>
                    <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;text-align:center;">
	<span style="font-size:16px;line-height:1.6;">请长按下图二维码加虞说客服微信<br>
</span>
                    </p>
                    <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;text-align:center;">
                        <span style="font-size:16px;">客服小鲜肉会邀你进入虞说吃货福利群</span>
                    </p>
                    <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'Apple Color Emoji', 'Emoji Symbols Font', 'Segoe UI Symbol', Arial, sans-serif;font-size:14px;text-align:center;">
                        <span style="font-size:16px;">各种免费福利等你来领</span>
                    </p>
                    <p style="font-size:medium;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;text-align:center;">
                        <img src="http://n.fivedu.com/attachment/images/14/2017/07/BMz50ZIm5WxE5mVr2VHwQejqMd3CIi.png" alt="images/14/2017/07/BMz50ZIm5WxE5mVr2VHwQejqMd3CIi.png" width="100%">
                    </p>
                    <p>
                        <br>
                    </p>
                    <p>
                        <br>
                    </p>
                    <p>
                        <br>
                    </p>
            </div>
        <div class="mui-content wz_wz_mes wz_saw">
            <div class="mui-row">
                <a href="javascript:;" class="mui-col-sm-3 mui-col-xs-3">查看原文</a>
                <div class="mui-col-sm-3 mui-col-xs-3 centers">
                    阅读&nbsp;<span>123</span>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3 centers">
                    <svg class="icon size_12" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zan"></use>
                    </svg>
                    <span>123</span>
                </div>
                <a href="javascript:;" class="mui-col-sm-3 mui-col-xs-3 rights">反馈</a>
            </div>
        </div>
    </div>
</div>
<script>
    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>
</body>
</html>