{include file="./public/public/video_chang.html"/}
<div class="col-md-12 border">
    <div class="col-md-12 rep_shai">
        <label>筛选</label>
    </div>
    <div class="col-md-12 shai_lis display_block">
        <div class="col-md-3">
            <label>状态</label>
            <div class="btn-group state" role="group" aria-label="">
                <a href="javascript:;" type="button" class="btn btn-default state_active">所有</a>
                <a href="javascript:;" type="button" class="btn btn-default ">启用</a>
                <a href="javascript:;" type="button" class="btn btn-default ">禁用</a>
            </div>
        </div>
        <div class="col-md-5">
            <label>关键字</label>
            <div class="input-group search">
                <input type="text" class="form-control" id="text" name="">
                              <span class="input-group-btn">
                                <button href="" class="btn btn-default" type="button" id="count">
                                    <span class="glyphicon glyphicon-search bg_color"></span>
                                </button>
                              </span>
            </div>
        </div>
        <!---->
        <table class="col-md-12">
            <tr>
                <th>序号</th>
                <th>回复规则</th>
                <th>关键词</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>1</td>
                <td >标题1</td>
                <td>回复内容1</td>
                <td>
                    <a href="javascript:;" class="bg_color radius">编辑</a>
                    <a href="javascript:;" class="red radius">删除</a>
                    <a href="javascript:;" class="bg_color radius">使用率走势</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td >标题1</td>
                <td>回复内容1</td>
                <td>
                    <a href="javascript:;" class="bg_color radius">编辑</a>
                    <a href="javascript:;" class="red radius">删除</a>
                    <a href="javascript:;" class="bg_color radius">使用率走势</a>
                </td>
            </tr>
        </table>
    </div>

</div>
</div>
<!---->
</div>
</div>
</body>
</html>
<script src="_JS_/bootstrap.min.js"></script>
<script>
</script>