<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="_CSS_/index.css">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.min.css">
    <script src="_JS_/iconfont.js"></script>
    <script src="_JS_/jquery-1.11.2.min.js"></script>
    <!--天气-->
    <!--<script src="_JS_/jquery.min.js" type="text/javascript"></script>-->
    <script src="_JS_/skycons.js" type="text/javascript"></script>
    <script src="_JS_/index.js" type="text/javascript"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row main">
        <!--菜单-->
        <div class="menu">
            <!--<svg class="icon" aria-hidden="true" onclick="menu_first()">-->
            <!--<use xlink:href="#icon-menu"></use>-->
            <!--</svg>-->
            <!--<span style="font-family:Comic Sans MS;font-size:14px;"><div class="menu-icon"></div></span>-->
            <div class="hamburger display_block" onclick="menu_first()">
                <span class="patty bg"></span>
                <span class="patty bg"></span>
                <span class="patty bg"></span>
                <span class="patty bg"></span>
                <span class="patty bg"></span>
                <span class="patty bg"></span>
            </div>
            <svg class="icon display_block" aria-hidden="true">
                <use xlink:href="#icon-sousuo"></use>
            </svg>

            <div class="touxiang">
                <!--<div ></div>-->
                <img class="margin_auto border_radius display_block" src="__IMG__/logo (2).png" width="50px">
                <!--<span style="vertical-align:super;">1</span>-->
                <sup class="border_radius white">99</sup>
            </div>
        </div>
        <div class="menu-left">
            <svg class="icon white display_block" aria-hidden="true" onclick="menu_return()">
                <use xlink:href="#icon-delete2"></use>
            </svg>
        </div>
        <div class="menu-layer bg activating active">
            <ul>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
                <li>
                    <a class="display_block" href="javascript:;">第一级</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </li>
            </ul>
        </div>
